 html{
            background-color: rgba(230, 230, 230, 0.5);
        }
       *{
        margin:0;
        padding:0;
        border:0;
       }
       .block-heading{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(230, 230, 230, 0.5);
       }
       .block-heading>p{
        width: 50%;
        margin: 10px;
        text-align: center;
        color: grey;
       }
       .block-heading>h2{
        color:#3b99e0;
       }

       .lpq{
        display: flex;
        gap: 50px;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        padding: 30px;
        padding-right: 200px;
       }
       .heading1{
        color:#3b99e0;
        margin-top: 30px;
       }
       .quantity ul{
        padding: 0;
       }
       .quantity{
        display: flex;
        width: 100px;
        gap: 5px;
       }
       .quantity li{
        text-align: center;
        margin-top: 30px;
       }
       li>input{
        border: 2px solid rgba(180, 178, 178, 0.5);
        text-align: center;
        width: 60%;
        border-radius: 5px;
       }
       .lpq h3{
        align-self: center;
       }
       .container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(230, 230, 230, 0.5);
        gap: 0;
       }
       .left-panel{
        background-color: white;
       }
       .right-panel{
        border-top: 2px solid #3b99e0;
        background-color: #d8e9ff;
        width:20%;
        height: 44.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       .details{
        display: flex;
        justify-content: space-between;
        width: 80%;
        border-bottom: 0.5px solid rgb(192, 192, 192);
        align-self: center;
        margin-top: 10px;
       }
       .right-panel h3{
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
       }